<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="" alt="" class="logo">
            <div class="nav_links">
                <a href="#" class="nav_link">Home</a>
                <a href="#" class="nav_link">Databases</a>
                <a href="#" class="nav_link">Bot</a>
                <a href="#" class="nav_link">Operators</a>
                <a href="#" class="nav_link">Settings</a>
            </div>
        </header>
        <main class="main">

        </main>
        <footer class="footer">

        </footer>
    </div>
</body>
</html>
